/node_modules
/public/css
/public/app.css
/public/app.css.map
/public/js
/public/hot
public/js/react.js.map
public/css/app.css.map
public/js/react.js
public/js/react.js.map
public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
.DS_Store
phploy.ini
