.header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-self: center;
    
    //grid-template-rows: auto;
    .headline{
     color: $signature;
     font-family: 'Merriweather Sans', sans-serif;
     align-self: center;
     

    };
}
     
.logo {
  width: 100px;
  height: auto;
  padding: 0.1rem;
}