* {
    box-sizing: border-box;
    //font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}
.container_pos {
  min-height: 100vh;
  min-width: 100% ;
  background-color: $background;
  display: grid; 
  grid-template-columns: 8.3% 51.7% 39%; 
  grid-template-rows: 10% 10% 60% 16%; 
  gap: 0.5rem 0.5rem; 
  grid-template-areas: 
    "header header header"
    "topbar topbar topbar"
    "sidebar menu workspace"
    "sidebar menu footer";
}

.header {
  //border: 1px solid white;
  grid-area: header;
}

.topbar {
   // border: 1px solid white;
    grid-area: topbar;
}

.sidebar {
    grid-area: sidebar;
    //border: 1px solid white;

}


.menu {
    //border: 1px solid white;
    grid-area: menu;
    //height: 85vh;
    //width: 100%;
}

.workspace {
    border: 1px solid white;
    grid-area: workspace;

}

.footer {
    border: 1px solid white;
    grid-area: footer;
}


