// GENERAL THEME COLORS 
$background: #151414; 
$text:rgb(240, 240, 240);
$signature: #84FAB0;

// MENU THEME COLORS 
$purple-superdark:  #3b0d86;
$purple-dark:  #4e19a3e7;
$purple-light:  #6323c8e7;
$purple-superlight:  #8143e4e7;

// SIDEBAR THEME COLORS
$button-background: #ffffff0c;
