
.conteiner-login {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#floatingInputEmail {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#floatingInputPass {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}
.gradient-button {
    background:$green-blue-button;
}
.gradient-background {

    background:$green-blue-background;

}
.errors-messagesas {
    color: red;
    font-size: large;
}
.background_img {
    background-image: url("../img/bgupdated.png");
}

