/* .topbar {
    display: grid;
    width: 100vw;
    height: 10vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2px;
    grid-template-areas: ". . . . . . . . . . . .";
} */
